{{if .YandexResults}}
    <p><b>{{range .YandexResults}}{{.}}{{end}}</b></p><hr>
{{end}}
{{range .DictionaryResults.LexicalEntries}}
    {{range .Entries}}
        {{range .Senses}}
            <p>
                {{if .Domains}}
                    [{{range .Domains}}{{.}}{{end}}]
                {{end}}
                <b>{{range .Definitions}}{{.}}<br>{{end}}</b>
                {{range .Examples}}<i>{{.Text}}</i><br>{{end}}
                {{range .Subsenses}}
                    <p>
                        {{if .Domains}}
                            [{{range .Domains}}{{.}}{{end}}]
                        {{end}}
                        {{range .Definitions}}{{.}}<br>{{end}}
                        {{range .Examples}}<i>{{.Text}}</i>{{end}}
                    </p>
                {{end}}
            </p>
        {{end}}
    {{end}}
{{end}}